.app {
  padding: 20px;
}

.header {
  background-color: #2332ED;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

main {
  display: flex;
  gap: 20px;
}

.products-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.product-card button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #3F4154;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.cart {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item button {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}